// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
.App-header {
  padding: 10px 15px;
  text-align: right;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.loading {
  display: flex;
  font-size: 200px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: lightcoral;
}

.button-display {
  bottom: 15px;
  right: 15px;
  background: #f54a6f;
  color: white;
  padding: 5px 15px;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.card-wrapper {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.character {
  width: 500px;
  height: 200px;
  border: solid 1px lightgray;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
  &:hover {
    img {
      transform: scale(1.1);
      transition: 1s;
    }
  }
  &--expand {
    margin: -50px 0;
    height: auto;
    z-index: 1;
    // background: lightsalmon;
    transition: 1s;
  }
  &__image {
    width: 200px;
    margin: 0;
    overflow: hidden;
    img {
      width: 100%;
      transform: scale(1);
      transition: 1s;
    }
  }
  &__right {
    padding: 15px;
    flex: 1;
    position: relative;
  }
  &__top {
    display: flex;
  }
  &__favorite-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 22px;
    color: #f54a6f;
  }
  &__more-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #f54a6f;
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }
}

.episodes {
  padding: 15px;
  &__loading {
    display: flex;
    padding: 0 0 20px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: lightcoral;
  }
}
